.section {

    &__head-h1 {
        margin: 2rem 0;
        font-weight: 300;
    }

    &__img {
        width: 80vw;
        height: 45vh;

        object-fit: cover;
        

        margin-bottom: -20px ;
        margin-top: 3vh;

    }


}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // border: 2px solid green;


    &__column {
        width: 35vw;
    }

    
    &__haed {
        font-weight: 300;
        margin: 3vh 0;

    }

    &__product {
        display: flex;
        justify-content: space-between;

        margin: 1vh 0;
    }


}