$color1: #F8F9FA; //backgroundcolor header
$color2: #343A40; //backgroundcolor footer
$color3: gray;  //coloro text nav bar
$color4: whitesmoke; // text color footer
$color5: #1280D0; //a tag footer
$color6: #F5F5F7; //product header color


