@import "variables.scss";






* {
    margin: 0;
    box-sizing: border-box;
}


.header {
    // border: 2px solid green;

    height: 15vh;
    background-color: $color1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__image {
        height: 13vh;

        margin-left: 10vw;

    }

    &__nav {
        margin-right: 10vw;

    }

    
    &__a {
        text-decoration: none;
        margin: 1vw;

        color: $color3;

        &:hover {
            color: black;
            font-weight: 600;
        }

    }

}



.footer {
    border: 2px solid green;

        height: 25vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        background-color: $color2;

    &__nav {
        margin-bottom: 5vh;

    }

    &__a {
        text-decoration: none;
        color: $color5;

    }

    &__p1 {
        color: $color4;

        margin-bottom: 2vh;
    }

    &__p2 {
        margin-bottom: 2vh;
        color: $color4;

    }

    &__ref {
        text-decoration: none;
        color: $color5;

    }


}