@import "variables.scss";
@import "home.scss";
@import "menu.scss";
@import "offer.scss";



* {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

.section {
    // border: 2px solid red;
    width: 80vw;
    margin: 0 auto;
}

.header {
    // border: 2px solid green;

    height: 15vh;
    background-color: $color1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:520px){
        height: 25vh;

        flex-direction: column;
    }


    &__logo {
        height: 90%;
        width: auto;

        margin-left: 9vw;

        @media screen and (max-width:520px){
            margin: auto;

            height: 50%;
            width: auto;
        }

     
    }

    &__nav {
        margin-right: 10vw;

        @media screen and (max-width:520px){
            margin: auto;
        }


    }

    
    &__a {
        text-decoration: none;
        margin: 1vw;

        color: $color3;

        font-size: 1.5em;

        @media screen and (max-width:520px){
            // margin: auto;
            font-size: 1em;
        }

        &:hover {
            color: black;
            font-weight: 600;
        }

    }

}



.footer {
    // border: 2px solid green;

        height: 25vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        background-color: $color2;

        @media screen and (max-width:520px){
            height: 35vh;
        }

    &__nav {
        margin-bottom: 5vh;

    }

    &__a {
        text-decoration: none;
        color: $color5;
        border-bottom: 1px solid $color5;  
        
        margin: 0 1vw;

        &:hover {
            color: $color1;
            
            border: none;

        }

    }

    &__p1 {
        color: $color4;

        margin-bottom: 2vh;
    }

    &__p2 {
        margin-bottom: 2vh;
        color: $color4;

        @media screen and (max-width:520px){
        margin-bottom: 10vh;
            
        }

    }

    &__ref {
        text-decoration: none;
        color: $color5;

    }


}


